@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

    /********** Tu connais **********/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 1rem 0;
}

   /********  Modification du scoll *********/

body::-webkit-scrollbar {
    width: 12.5px;
}

body::-webkit-scrollbar-track {
    background: #53a4ab;
}

body::-webkit-scrollbar-thumb {
    background-color: #04041c; 
    border-radius: 9px;
    border: 1px solid #f1f0a9;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

h2 {
    font-family: 'Taviraj', serif;
}

    /********* Header *********/

header {
    position: sticky;
    width: 100%;
    height: 15vh;
    top: 0;
    left: 0;  
    background-color: #04041c;
    padding: 0 2.5rem 1.5rem;
    z-index: 500;
}

.langs {
    text-align: right;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
}

.lang {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(200, 200, 200);
    margin: 0.125rem 0.5rem;
}

.lang img {
    margin: 0 0.125rem;
    width: 20px;
}

.lang:hover {
    color: #f1f0a9;
}

nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 65px;
}

.toggle {
    display: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 250px;
}

.menu-lien {
    display: flex;
    font-size: 18px;
    color: rgb(200, 200, 200);
    position: relative;
    padding: 0.75rem;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
}

.menu-lien:before {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 50%;
    height: 2px;
    background: #f1f0a9;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.menu-lien:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 50%;
    height: 2px;
    background: #f1f0a9;
    transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1); 
}

.menu-lien:hover {
    color: white;
}

.menu-lien:hover::before {
    right: 0;
}

.menu-lien:hover::after {
    left: 0;
}

#active {
    background-color: #255a5f;
    border-radius: 9px;
}

    /**********  Contenu  **********/

        /**********  Présentation  **********/

.prez { 
    background-color: #255a5f;
    color: whitesmoke;
    padding: 2rem;
}

.prez h1 {
    font-size: 56px;
    text-transform: uppercase;
    line-height: 3.5rem;
    letter-spacing: 1rem;
}

.prez h2, .proj h2 {
    font-size: 35px;
    color: #f1f0a9;
}

.prez p {
    font-size: 16px;
}

.prez-corps {
    display: flex;
    justify-content: space-between;
}

.prez-corps-block {
    width: 45%;
    padding: 1rem;
    line-height: 2rem;
}

.prez-corps-block img {
    text-align: center;
    width: 425px;
    border-radius: 6%;
}

.under {
    color: #f1f0a9;
    text-decoration: underline;
}

.btn {
    border-width: 1px;
    padding: 0.75rem;
    margin: 1rem 0 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    background: rgb(250, 250, 250);
    border-radius: 9px;
    transition: 0.3s;
    border: 1px solid whitesmoke;
}

.btn:hover {
    background-color: #04041c;
    color: rgb(230, 230, 230);
}

.btn.active {
    background-color: #04041c;
    color: white;
}

        /**********  Realisation  **********/

.proj {
    background-color: #53a4ab;
}

.proj h2 {
    padding: 1.25rem 0rem 0rem 1.25rem;
}

.proj-corps {
    display: flex;
    align-items: center;
    color: whitesmoke;
}

.proj-corps-block {
    width: 20%;
    margin: 2rem;
}

.proj-corps-block img {
    width: 100%;
    transition: 0.3s;
    filter: grayscale(95%);
    border: 2px solid whitesmoke;
    border-radius: 30px 5px;
}

.proj-corps-block img:hover {
    filter: none;
}

#voirplus {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1rem;
}

    /**********  Footer  **********/

footer { 
    position: relative;
    width: 100%;
    bottom:0;
    background-color: #04041c;
}

footer ul {
    margin: 0;
    list-style: none;
    line-height: 1.6;
}

footer ul li {
    display: inline-block;
    padding: 0 15px;
}

footer ul li a {
    text-decoration: none;
    color: rgb(200, 200, 200);
    transition: 0.3s;
}

footer ul li a:hover {
    color: #f1f0a9;
}

        /**********  Partie Contact **********/

.contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.25rem 0 1.25rem;
    color: rgb(200, 200, 200);
    text-align: center;
    background-color: #04041c;
}
    
.contact p {
    padding: 1rem;
    font-size: 22px;
}

.contact h2 {
    font-size: 30px;
}
    
.contact a {
    text-decoration: none;
    font-size: 35px;
    padding-top: 1rem;
    line-height: 38px;
    color: inherit;
    transition: 0.5s;
    display: inline-block;
}
    
.contact a:hover {
    color: #f1f0a9;
}

.copy {
    background-color: #02020c;
    padding: 0.5rem 0.25rem;
    color: rgb(200, 200, 200);
    text-align: center;
    font-size: 15px;
}

    /********* Page Realisations *********/

.realisations {
    background-color: #255a5f;
    min-height: 85vh;
}

.realisations h1 {
    font-size: 45px;
    text-align: center;
    padding: 3rem;
    color: whitesmoke;
}

#myBtnContainer {
    text-align: center;
}

.row, .row > .column {
    padding: 8px;
}

.column {
    float: left;
    width: 25%;
    display: none;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content img {
    width: 100%;
    border: 2px solid whitesmoke;
    transition: 0.3s;
    filter: grayscale(95%);
    border-radius: 20px;
}

.content img:hover {
    filter: none;
    width: 100%;
}

.show {
    display: block;
}

        /******** Differentes Pages des réalisations ******/

.real { 
    background-color: #255a5f;
    color: whitesmoke;
    padding: 2rem;
}

.real h1 {
    font-size: 55px;
    text-transform: uppercase;
    line-height: 3.5rem;
    letter-spacing: 0.75rem;
}

.real p {
    font-size: 18px;
}

.real-corps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.real-corps-block {
    width: 80%;
    padding: 1rem;
    line-height: 2rem;
    text-align: center;
}

.real-corps-block img {
    width: 600px;
}

.real-corps-block p {
    margin: 1rem 0;
}

.real-corps-block a {
    color: #f1f0a9;
}

.minia {
    border-radius: 20px;
}

.gras {
    font-weight: bold;
}

.italique {
    font-style: italic;
}

.sousligne {
    text-decoration: underline;
}

.outils {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
}

.outils img {
    width: 5%;
}

#retour {
    width: 75%;
    display: flex;
    justify-content: flex-start;
}

#interlink {
    transition: 0.3s;
}

#interlink:hover {
    color: #53a4ab;
}

#logo, #asset {
    display: flex;
    justify-content: space-evenly;
}

#logo img, #asset img {
    border: 2px solid #f1f0a9;
}

#logo img {
    width: 35%;    
    border-radius: 6%;
}

#asset img {
    width: 30%;
    border-radius: 10px;
}

#h2 {
    text-transform: uppercase;
    font-size: 35px;
    color: #f1f0a9; 
}

    /********* Page Mentions Légales *******/

.mention {
    padding: 2.5rem;
    background-color: #255a5f   ;
    color: rgb(200, 200, 200);
    font-size: 20px;
    text-align: center;
}

.mention h2 {
    font-size: 35px;
    color: #f1f0a9;
}

    /**********  Responsive  **********/

@media all and (max-width: 1080px) {
    
        /******** Header ********/

    .logo img {
        width: 60px;
    }

        /********* Page Accueil *******/

    .prez-corps-block img {
        width: 400px;
    }

    .proj-corps-block {
        margin: 1.75rem;
    }

        /********* Pages des Réalisations ********/

    #asset img {
        width: 40%;
    }
    
}

@media all and (max-width: 991px) {
     
        /********* Page Accueil *******/

    .prez {
        padding: 2rem 0;
    }

    .prez h1 {
        font-size: 50px;
        line-height: 3rem;
        letter-spacing: 0.5rem;
    }

    .prez-corps-block img {
        width: 350px;
    }

    .prez-corps-block {
        width: 47.5%;
        line-height: 1.5rem;
    }

        /**********  Partie Contact **********/

    .proj-corps-block {
        margin: 1.25rem;
    }

    .contact h2 {
        font-size: 28px;
    }

        /********* Page Réalisations *********/

    .column {
        width: 33.3%;
    }

        /********* Pages des Réalisations ********/

    .real-corps-block {
        width: 85%;
    }

    .real p {
        font-size: 25px;
        padding: 1rem;
    }

    .outils img {
        width: 10%;
    }

    #asset {
        justify-content: space-around;
    }

    #asset img {
        width: 45%;
    }

}

@media all and (max-width: 820px) {

        /******** Header ********/

    .logo img {
        width: 55px;
    }
    
        /********* Page Accueil *******/

    .prez {
        padding: 1rem 0;
    }
    
    .prez h1 {
        font-size: 45px;
        line-height: 2.5rem;
        letter-spacing: 0.25rem;
    }

    .prez-corps-block img {
        width: 300px;
    }

    .prez-corps-block {
        width: 50%;
    }

        /**********  Partie Contact **********/

    .proj-corps-block {
        margin: 1rem;
    }

    .contact {
        padding: 1.125rem 0 1.125rem;
    }

        /********* Pages des Réalisations ********/

    .real {
        padding: 2rem;
    }

    .real-corps-block {
        width: 90%;
    }

    #logo img {
        width: 40%;
    }

    #unijam {
        font-size: 50px;
    }

}

@media all and (max-width: 730px) {
      
    header {
        padding: 0 1.5rem 1.5rem;
    }
    
        /******* Menu Burger *******/

   .toggle {
        display: block;
        font-size: 2rem;
        color: rgb(200, 200, 200);
        cursor: pointer;
        position: relative;
        z-index: 20;
    }

    .langs {
        position: relative;
        z-index: 25;
    }

    .logo {
        position: relative;
        z-index: 20;
    }

    .ouvrir, .ouvert .fermer {
        display: block;
    }

    .fermer, .ouvert .ouvrir {
        display: none;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 25vh;
        background-color: #04041c;
        flex-direction: column;
        padding: 2rem;
        justify-content: space-around;
        transform: translateY(-100%);
        transition: transform 1s;
    }

    .menu-lien {
        font-size: 1.25rem;
    }

    .ouvert .menu {
        transform: translateY(0);
    }

        /********* Page Accueil *******/

    .prez, .proj {
        padding: 1rem 0;
    }

    .prez-corps {
        display: flex;
        flex-direction: column;
    }

    .prez-corps-block {
        width: 100%;
        text-align: center;
    }
    
    .prez h1 {
        font-size: 40px;
        line-height: 2.5rem;
        letter-spacing: 0rem;
    }

        /**********  Partie Contact **********/

    .prez-corps-block img {
        width: 275px;
    }

    .proj-corps {
        flex-direction: column;
        align-items: center;
    }

    .proj-corps-block {
        width: 50%;
    }

        /********* Page Réalisations *********/

    .column {
        width: 50%;
    }

        /********* Pages des Réalisations ********/

    .real-corps-block {
        width: 95%;
    }
    
    .real-corps-block img {
        width: 500px;
    }

    .real p {
        font-size: 25px;
        padding: 1.75rem 1rem;
    }
    
    .outils img {
        width: 15%;
    }

}

@media all and (max-width: 600px) {

        /******** Header ********/

    .logo img {
        width: 50px;
    }

        /**********  Partie Contact **********/

    .contact {
        flex-wrap: wrap;
    }

    .contact h2 {
        margin: 0 5.25rem 0;
    }

        /********* Pages des Réalisations ********/
    
    .real-corps-block {
        width: 100%;
    }
    
    .real-corps-block img {
        width: 450px;
    }

    .real h1 {
        letter-spacing: 0.25rem;
    }

    .outils img {
        width: 15%;
    }
}

@media all and (max-width: 540px) {
    
        /**********  Partie Contact **********/

    .contact h2 {
        font-size: 29px;
        margin: 0 3.5rem 0;
    }
        /******* Pages des Realisations *****/

    .real {
        padding: 2rem;
    }

    .real-corps-block {
        padding: 0.75rem;
        line-height: 2rem;
    }
    
    .real-corps-block img {
        width: 325px;
    }

    .real h1 {
        letter-spacing: 0;
        font-size: 45px;
    }

    .real p {
        font-size: 22px;
        padding: 0;
    }

    .outils img {
        width: 15%;
    }
    
}

@media all and (max-width: 520px) {
    
        /**********  Partie Contact **********/

    .contact h2 {
        margin: 0 2.25rem 0;
    }

}

@media all and (max-width: 500px) {
    
        /**********  Partie Contact **********/

    .contact h2 {
        margin: 0 2.5rem 0;
    }

}

@media all and (max-width: 480px) {
    
        /**********  Partie Contact **********/

    .contact h2 {
        font-size: 27px;
        margin: 0 2rem 0;
    }

}

@media all and (max-width: 460px) {
    
        /**********  Partie Contact **********/

    .contact h2 {
        font-size: 26px;
        margin: 0 2.5rem 0;
    }

        /******** Pages des Réalisations *******/

    .real-corps-block img {
        width: 320px;
    }

    .outils img {
        width: 15%;
    }

    #unijam {
        font-size: 35px;
    }

}

@media all and (max-width: 440px) {
    
        /**********  Partie Contact **********/

    .contact h2 {
        font-size: 24px;
        margin: 0 0;
    }

        /******** Pages des Réalisations *******/

    .real-corps-block img {
        width: 300px;
    }

    .outils img {
        width: 15%;
    }

}

@media all and (max-width: 420px) {
    
        /**********  Partie Contact **********/

    .contact h2 {
        font-size: 22px;
        margin: 0 2.4rem 0;
    }

        /******** Pages Réalisations *******/

    .realisations h1 {
        padding: 1.5rem;
    }

        /******** Pages des Réalisations *******/

    .real h1 {
        font-size: 42.5px;
    }
    
    .real-corps-block img {
        width: 250px;
    }

    .outils img {
        width: 15%;
    }

    #logo {
        justify-content: space-around;
    }

    #logo img, #asset img {
        width: 45%;
        border: 2px solid #f1f0a9;
    }

    #unijam {
        font-size: 32.5px;
    }

}

@media all and (max-width: 380px) {
    
        /**********  Partie Contact **********/

    .contact h2 {
        margin: 0 1.4rem 0;
    }

        /******** Pages Réalisations *******/

    .realisations h1 {
        font-size: 40px;
        padding: 1.5rem;
    }

    .content img {
        border-radius: 15px;
    }

        /******** Pages des Réalisations *******/

    .real p {
        font-size: 20px;
    }

    .real h1 {
        font-size: 39px;
    }
    
    .real-corps-block img {
        width: 225px;
    }

    .outils img {
        width: 15%;
    }

    #unijam {
        font-size: 27.5px;
    }

}

@media all and (max-width: 350px) {
    
        /**********  Partie Contact **********/

    .contact h2 {
        font-size: 20px;
        margin: 0 1.3rem 0;
    }

    .contact a {
        font-size: 30px;
    }

        /******** Pages Réalisations *******/

    .realisations h1 {
        font-size: 38px;
        padding: 1.25rem;
    }

        /******** Pages des Réalisations *******/

    .real h1 {
        font-size: 32.5px;
    }
    
    .real-corps-block img {
        width: 215px;
    }

    .outils img {
        width: 15%;
    }

}

@media all and (max-width: 330px) {

        /******** Header ********/
    
    .langs {
        font-size: 10px;
    }
    
    .lang {
        margin: 0rem 0.25rem;
    }
    
    .lang img {
        margin: 0 0.125rem;
        width: 12px;
    }

    .logo img {
        width: 40px;
    }

        /**********  Partie Contact **********/

    .contact h2 {
        font-size: 18px;
        margin: 0 1rem 0;
    }

        /******* Footer ******/

    .copy {
        padding: 0.5rem 0.125rem;
    }
    
        /******** Page Accueil ******/
    
    .prez h1 {
        font-size: 35px;
    }
    
    .prez-corps-block img {
        width: 225px;
    }
    
        /******** Pages Réalisations *******/

    .realisations h1 {
        font-size: 32px;
        padding: 0.75rem;
    }

        /******** Pages des Réalisations *******/

    .real {
        padding: 0.75rem;
    }

    .real-corps-block {
        padding: 0rem;
        line-height: 1.5rem;
    }

    .real-corps-block img {
        width: 175px;
    }

    .real h1 {
        font-size: 27.5px;
        letter-spacing: 0.125rem;
        line-height: 2rem;
        padding: 0.75rem 0 0;
    }

    .real p {
        font-size: 18px;
        padding: 0.125rem;
    }
    
    .outils img {
        width: 15%;
    }

}

@media all and (max-width: 280px) {

        /**********  Présentation  **********/

    .proj-corps-block img {
        border-radius: 20px 0px;
    }

        /**********  Partie Contact **********/

    .contact h2 {
        font-size: 16px;
        margin: 0 0.5rem 0;
    }

        /******** Pages Réalisations *******/

    .realisations h1 {
        font-size: 30px;
        padding: 0.5rem;
    }

    .content img {
        border-radius: 10px;
    }

        /******** Pages des Réalisations *******/
    
    #unijam {
        font-size: 23px;
    }

}